## Akash patil

## K- nearest neighbour classifier

In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
iris=pd.read_csv('iris.csv')
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

### x,y sepration

In [7]:
X=iris.drop('species',axis=1).values
X.shape

(150, 4)

#### Label Encoder

In [8]:
y=iris.species.values
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=le.fit_transform(y)
Y.shape

(150,)

### train_test_split

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(X,y,test_size=0.33,random_state=10)
X_train.shape

(100, 4)

### standard scaler

In [11]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(X_train)
X_train_std=ss.transform(X_train)
X_test_std=ss.transform(X_test)

### accuracy_score

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=21)
knn.fit(X_train_std,Y_train)
Y_pred=knn.predict(X_test_std)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.94

### Gridesearchcv

In [39]:
from sklearn.model_selection import GridSearchCV
knn=KNeighborsClassifier()
parameters={'n_neighbors':np.arange(1,51)}
clf=GridSearchCV(knn,parameters)
clf.fit(X_train_std,Y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])})

In [40]:
clf.best_params_

{'n_neighbors': 6}

### Cross validation

In [16]:
from sklearn.model_selection import cross_val_score
# k_scores = []
# for k in range(1,51):
#     knn = KNeighborsClassifier(n_neighbors=k)
knn=KNeighborsClassifier(n_neighbors=6)
score=cross_val_score(knn,X,Y,cv=5,scoring='accuracy')
score

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [17]:
score.mean()

0.9800000000000001

## K nearest neighbor Regression

In [18]:
import pandas as pd
import numpy as np
import sklearn

In [19]:
tip=pd.read_csv('tips.csv')
tip.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [20]:
tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB

In [21]:
tip.isnull().sum()

total_bill          0
tip                 0
sex                 0
smoker              0
day                 0
time                0
size                0
price_per_person    0
Payer Name          0
CC Number           0
Payment ID          0
dtype: int64

In [22]:
tip.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

#### drop Features

In [23]:
d={'Payer Name', 'CC Number', 'Payment ID'}
for i in d:
    tip.drop(i,axis=1,inplace=True)
tip

     total_bill   tip     sex smoker   day    time  size  price_per_person
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

[244 rows x 8 columns]

### x,y sepration

In [24]:
x=tip.drop('tip',axis=1)
y=tip.tip.values

In [41]:
c=x.columns
c

Index(['total_bill', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person'],
      dtype='object')

#### label encoder

In [26]:
from sklearn.preprocessing import LabelEncoder
C=['sex', 'smoker', 'day', 'time']
for i in C:
    le=LabelEncoder()
    le.fit_transform(x[i])
    x[i]=le.transform(x[i])

In [27]:
x

     total_bill  sex  smoker  day  time  size  price_per_person
0         16.99    0       0    2     0     2              8.49
1         10.34    1       0    2     0     3              3.45
2         21.01    1       0    2     0     3              7.00
3         23.68    1       0    2     0     2             11.84
4         24.59    0       0    2     0     4              6.15
..          ...  ...     ...  ...   ...   ...               ...
239       29.03    1       0    1     0     3              9.68
240       27.18    0       1    1     0     2             13.59
241       22.67    1       1    1     0     2             11.34
242       17.82    1       0    1     0     2              8.91
243       18.78    0       0    3     0     2              9.39

[244 rows x 7 columns]

### train_test_split

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=20)
x_train

     total_bill  sex  smoker  day  time  size  price_per_person
164       17.51    0       1    2     0     2              8.76
214       28.17    0       1    1     0     3              9.39
139       13.16    0       0    3     1     2              6.58
208       24.27    1       1    1     0     2             12.14
103       22.42    0       1    1     0     2             11.21
..          ...  ...     ...  ...   ...   ...               ...
156       48.17    1       0    2     0     6              8.03
223       15.98    0       0    0     1     3              5.33
15        21.58    1       0    2     0     2             10.79
218        7.74    1       1    1     0     2              3.87
99        12.46    1       0    0     0     2              6.23

[146 rows x 7 columns]

#### standard scaler

In [29]:
from sklearn.preprocessing import StandardScaler
SS=StandardScaler()
SS.fit(x_train)
x_train_std=SS.transform(x_train)
x_test_std=SS.transform(x_test)

In [30]:
# from sklearn.model_selection import GridSearchCV
# knn=KNeighborsR()
# parameters={'n_neighbors':np.arange(1,51)}
# clf=GridSearchCV(knn,parameters)
# clf.fit(X,Y)

### RMSE

In [31]:
from sklearn.neighbors import KNeighborsRegressor
# for i in range(1,21):
knn=KNeighborsRegressor(n_neighbors=19)
knn.fit(x_train_std,y_train)
y_pred=knn.predict(x_test_std)

In [32]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_pred,y_test)
rmse=np.sqrt(mse)

In [33]:
rmse

1.4161672108984207

## cross_val_score

In [34]:
from sklearn.model_selection import cross_val_score

for k in range(1,51):
    knn = KNeighborsRegressor(n_neighbors=k)  
    score=cross_val_score(knn,x,y,cv=5)
score

array([0.4547364 , 0.5296322 , 0.49492207, 0.19626672, 0.32085886])

In [35]:
score.mean()

0.399283248112527

In [36]:
from sklearn.model_selection import GridSearchCV
knn=KNeighborsRegressor()
parameters={'n_neighbors':np.arange(1,51)}
clf=GridSearchCV(knn,parameters)
clf.fit(x,y)

GridSearchCV(estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])})

In [37]:
clf.best_estimator_

KNeighborsRegressor(n_neighbors=19)

In [38]:
clf.best_score_

0.44347482663864446